.bodyLP {
  background: #FFFCF6;
  }

.logoLP{
  width: 94px;
  height: 91px;
}

.mTextLP{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 68px;
  line-height: 75%;
  color: #FE993B;
}

.inaTextLP{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 0px;
  color: #FE993B;
}

.tinTextLP{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 23px;
  color: #FE993B;
}

.berandaLP{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #FE993B;
}

.berandaLP:hover {
  color: #D0853F;
}

.tentangkamiLP{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  color: #FE993B;
}

.tentangkamiLP:hover {
  color: #D0853F;
}

.btn-daftar{
  min-width: 150px;
  min-height: 50px;
  background: #FE993B;
  border-radius: 20px;
}

.btn-daftar:hover {
  background: #D0853F;
}

.btn-daftar p{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
}

.btn-masukLP{
  
  width: 150px;
  height: 50px;
  left: 1140px;
  top: 26px;
  background: #FE993B;
  border-radius: 20px;
}

.btn-masukLP:hover {
  background: #D0853F;
}

.btn-masukLP p{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
}


.titleTopContentLP{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
}

.textTopContentLP{
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.btn-getstarted{
  width: 200px;
  height: 60px;
  background: #FE993B;
  border-radius: 20px;
}

.btn-getstarted:hover {
  background: #D0853F;
}

.btn-getstarted p{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  color: #FFFFFF;
}

.titleOurServices{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
}

.cardLP1{
  width: 360px;
  height: 360px;
  background: #FFFFFF;
  border-radius: 5px;
  border: 2px solid #C4C4C4;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.cardimgLP1{
  width: 354px;
  height: 190px;
  border-radius: 5px;
}

.cardLP1 h2{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.cardLP1 p{
  
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.cardLP2{
  
  width: 360px;
  height: 360px;
  left: 540px;
  top: 684px;
  background: #FFFFFF;
  border: 2px solid #C4C4C4;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.cardimgLP2{
  
  width: 354px;
  height: 190px;
  border-radius: 5px;
}

.cardLP2 h2{
  
  width: 259px;
  height: 28px;
  left: 24px;
  top: 214px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.cardLP2 p{
  
  width: 310px;
  height: 75px;
  left: 24px;
  top: 248px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.cardLP3{
  
  width: 360px;
  height: 360px;
  left: 930px;
  top: 684px;
  background: #FFFFFF;
  border: 2px solid #C4C4C4;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.cardimgLP3{
  
  width: 354px;
  height: 190px;
  border-radius: 5px;
}

.cardLP3 h2{
  
  width: 259px;
  height: 28px;
  left: 24px;
  top: 214px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.cardLP3 p{
  
  width: 310px;
  height: 75px;
  left: 24px;
  top: 248px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.middlecontentLP{
  
  width: 1440px;
  height: 444px;
  left: 0px;
  top: 1095px;
  background: rgba(254, 153, 59, 0.36);
}


.middlecontentLP2{
  
  width: 670px;
  height: 360.5px;
  left: 385px;
  top: 84.5px;
  background: #FE993B;
}

.lefttext-midcont{
  
  width: 91px;
  height: 44px;
  left: 214px;
  top: 175px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #FFFFFF;
}

.lefttext2-midcont{
  
  width: 228px;
  height: 96px;
  left: 150px;
  top: 228px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 56px;
  text-align: center;
  color: #FFFFFF;
}

.centertext-midcont{
  
  width: 295px;
  height: 84px;
  left: 573px;
  top: 175px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #FFFFFF;
}

.centertext2-midcont{
  
  width: 303px;
  height: 84px;
  left: 569px;
  top: 293px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}

.righttext-midcont{
  
  width: 91px;
  height: 44px;
  left: 1130px;
  top: 175px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  text-align: center;
  color: #FFFFFF;
}

.righttext2-midcont{
  
  width: 228px;
  height: 96px;
  left: 1062px;
  top: 228px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 56px;
  text-align: center;
  color: #FFFFFF;
}

.image-midcontLP{
  
  width: 753px;
  height: 484px;
  left: 150px;
  top: 1610px;
}

.text-midcontLP{
  
  width: 366px;
  height: 474px;
  left: 924px;
  top: 1609px;
}

.text-midcontLP h2{
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
}

.text-midcontLP h4{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.text-midcontLP p{
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.textTestimoni{
  
  width: 216px;
  height: 56px;
  left: 582px;
  bottom: 1000px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
}

.cardLP4{
  
  width: 360px;
  height: 463px;
  left: 150px;
  top: 2289px;
}

.boxorg-cardLP4{
  
  width: 274px;
  height: 463px;
  left: 86px;
  background: #FE993B;
  border-radius: 19px;
}

.cardimgLP4{
  
  width: 181px;
  height: 256px;
  left: 69px;
  top: 36px;
  background: linear-gradient(179.91deg, rgba(255, 255, 255, 0) 0.07%, #000000 92.71%);
  border-radius: 27px;
}

.cardLP4 h2{
  
  width: 72px;
  height: 38px;
  left: 168px;
  top:200px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  text-align: right;
  color: #FFFFFF;
}

.professionLP4{
  
  width: 40px;
  height: 18px;
  left: 192px;
  top: 246px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
  color: #FFFFFF;
}

.boxblc-cardLP4{
  
  width: 319px;
  height: 154px;
  top: 267px;
  background: #000000;
  border-radius: 10px;
}

.text-testi1{
  
  width: 283px;
  height: 108px;
  left: 18px;
  top: 287px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}

.cardLP5{
  
  width: 360px;
  height: 463px;
  left: 540px;
  top: 2359px;
}

.boxorg-cardLP5{
  
  width: 274px;
  height: 463px;
  left: 86px;
  background: #FE993B;
  border-radius: 19px;
}

.cardimgLP5{
  
  width: 181px;
  height: 256px;
  left: 69px;
  top: 36px;
  background: linear-gradient(179.91deg, rgba(255, 255, 255, 0) 0.07%, #000000 92.71%);
  border-radius: 27px;
}

.cardLP5 h2{
  
  width: 72px;
  height: 38px;
  left: 168px;
  top:200px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  text-align: right;
  color: #FFFFFF;
}

.professionLP5{
  
  width: 40px;
  height: 18px;
  left: 192px;
  top: 246px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
  color: #FFFFFF;
}

.boxblc-cardLP5{
  
  width: 319px;
  height: 154px;
  top: 267px;
  background: #000000;
  border-radius: 10px;
}

.text-testi2{
  
  width: 283px;
  height: 108px;
  left: 18px;
  top: 287px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}

.cardLP6{
  
  width: 360px;
  height: 463px;
  left: 930px;
  top: 2289px;
}

.boxorg-cardLP6{
  
  width: 274px;
  height: 463px;
  left: 86px;
  background: #FE993B;
  border-radius: 19px;
}

.cardimgLP6{
  
  width: 181px;
  height: 256px;
  left: 69px;
  top: 36px;
  background: linear-gradient(179.91deg, rgba(255, 255, 255, 0) 0.07%, #000000 92.71%);
  border-radius: 27px;
}

.cardLP6 h2{
  
  width: 72px;
  height: 38px;
  left: 168px;
  top:200px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  text-align: right;
  color: #FFFFFF;
}

.professionLP6{
  
  width: 40px;
  height: 18px;
  left: 192px;
  top: 246px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 18px;
  text-align: right;
  color: #FFFFFF;
}

.boxblc-cardLP6{
  
  width: 319px;
  height: 154px;
  top: 267px;
  background: #000000;
  border-radius: 10px;
}

.text-testi3{
  
  width: 283px;
  height: 108px;
  left: 18px;
  top: 287px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}

.footerLP{
  
  width: 1440px;
  height: 272px;
  left: 0px;
  top: 2892px;
}

.line-footerLP{
  
  width: 1440px;
  height: 1px;
  left: 0px;
  bottom: 326px;
  background: #999999;
}

.mText-footerLP{
  
  width: 60px;
  height: 80px;
  left: 151px;
  top: 69px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 68px;
  line-height: 80px;
  color: #000000;
}

.inaText-footerLP{
  
  width: 61px;
  height: 42px;
  left: 211px;
  top: 71px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
}

.tinText-footerLP{
  
  width: 40px;
  height: 42px;
  left: 211px;
  top: 99px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
}

.bottom-minatintextLP{
  
  width: 214px;
  height: 19px;
  left: 151px;
  top: 147px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.forbeginners-sec{
  
  width: 150px;
  height: 134px;
  left: 544px;
  top: 69px;
}

.forbeginners-sec h4{
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}

.forbeginners-sec p{
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  
}

.exploreus-sec{
  
  width: 154px;
  height: 134px;
  left: 737px;
  top: 69px;
}

.exploreus-sec h4{
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}

.exploreus-sec p{
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.connectus-sec{
  
  width: 231px;
  height: 134px;
  left: 961px;
  top: 69px;
}

.connectus-sec h4{
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #000000;
}

.connectus-sec p{
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.copyrightLP{
  
  width: 303px;
  height: 19px;
  left: 550px;
  top: 252px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}




.masukContainer{
  
  width: 816px;
  height: 512px;
  left: 312px;
  top: 163px;
  background: #FFFFFF;
  border-radius: 20px;
}

.masukContainer h1{
  
  width: 135px;
  height: 60px;
  left: 347px;
  top: 51px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: #000000;
  border-radius: 20px;
}

.masukContainer input[id=emailMasuk]{
  
  width: 536.98px;
  height: 75px;
  left: 142px;
  top: 147px;
  background: #FFFFFF;
  border-radius: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}

.masukContainer input[id=passwordMasuk]{
  
  width: 536.98px;
  height: 75px;
  left: 142px;
  top: 246px;
  background: #FFFFFF;
  border-radius: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}

.btn-masukpopup{
  
  width: 200px;
  height: 60px;
  left: 308px;
  top: 357px;
  background: #FE993B;
  border-radius: 20px;
}

.btn-masukpopup:hover {
  background: #D0853F;
}

.btn-masukpopup p{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.daftarMasuk{
  
  width: 330px;
  height: 35px;
  left: 243px;
  top: 441px;
}

.daftarMasuk p{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 34px;
  color: #000000;
}

.daftarMasuk a{
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 34px;
  color: #FE993B;
}

.daftarMasuk a:hover {
  color: #D0853F;
}

.daftarContainer{
  
  width: 816px;
  height: 713px;
  left: 312px;
  top: 163px;
  background: #FFFFFF;
  border-radius: 20px;
}

.daftarContainer h1{
  
  width: 129px;
  height: 60px;
  left: 341px;
  top: 51px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 60px;
  color: #000000;
}

.daftarContainer input[id=namaDaftar]{
  
  width: 536.98px;
  height: 75px;
  left: 142px;
  top: 150px;
  border: 2px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}

.daftarContainer input[id=emailDaftar]{
  
  width: 536.98px;
  height: 75px;
  left: 142px;
  top: 249px;
  border: 2px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}

.daftarContainer input[id=passwordDaftar]{
  
  width: 536.98px;
  height: 75px;
  left: 142px;
  top: 348px;
  border: 2px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}

.daftarContainer input[id=ulangpasswordDaftar]{
  
  width: 536.98px;
  height: 75px;
  left: 142px;
  top: 447px;
  border: 2px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}

.btn-daftarpopup{
  
  width: 200px;
  height: 60px;
  left: 308px;
  top: 558px;
  background: #FE993B;
  border-radius: 20px;
}

.btn-daftarpopup:hover {
  background: #D0853F;
}

.btn-daftaropup p{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.masukDaftar{
  
  width: 339px;
  height: 35px;
  left: 238px;
  top: 642px;
}

.masukDaftar p{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 23px;
  line-height: 34px;
  color: #000000;
}

.masukDaftar a{
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 34px;
  color: #FE993B;
}

.masukDaftar a:hover {
  color: #D0853F;
}

.close {
  
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}