body {
    font-family: 'Roboto', sans-serif;
}

//CSS SIDEBAR
.sidenav {
    height: 100%;
    width: 327px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #FFFCF6;
    overflow-x: hidden;
    padding-top: 20px;
    border-right: 1px solid #c4c4c4;
}

.sidenav a {
    padding-left: 75px;
    padding-top: 32px;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #c4c4c4;
    display: block;
}

.sidenav button {
    padding-left: 75px;
    margin-top: 100px;
    text-decoration: none;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #c4c4c4;
    display: block;
}

.sidenav .rounded-circle {
    height: 150px;
}

.sidenav h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    padding-top: 24px;
}

.sidenav .navbar-brand {
    padding-top: 0px;
    padding-bottom: 40px;
    padding-left: 75px;
}

.sidenav i {
    margin-right: 15px;
}

.sidenav a:hover {
    color: #D0853F;
}

.sidenav button:hover {
    color: red;
}

.main {
    margin-left: 327px;
    /* Same as the width of the sidenav */
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}

.active {
    color: #FE993B !important;
    font-weight: 700 !important;
}

.fixed-top {
    margin-left: 327px !important;
}

.judul-page {
    height: 141px;
    background: #FFFFFF;
    border-bottom: 1px solid #c4c4c4;
    box-sizing: border-box;
    h1 {
        padding-top: 25px;
        padding-left: 30px;
    }
    p {
        padding-left: 30px;
    }
    a {
        color: inherit;
        text-decoration: none;
        padding-top: 8px;
        font-size: 24px;
        font-weight: normal;
    }
}

.bread-nav {
    font-style: normal;
    font-weight: bold !important;
    font-size: 24px;
}

.title {
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
}

//END CSS SIDEBAR 
.content-home {
    margin-top: 141+24px;
    margin-left: 30px;
    h1 {
        padding-bottom: 24px;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
    }
    a {
        text-decoration: none;
        color: inherit;
        .card-psikotest {
            width: 460px;
            padding: 30px 30px 14px 30px;
            background: #FFFFFF;
            border: 1px solid #C4C4C4;
            box-sizing: border-box;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            .rounded-circle {
                height: 80px;
            }
            h2 {
                width: 300px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
            }
            p {
                width: 300px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
            }
            .star {
                padding-left: 0px;
            }
            i {
                margin-right: 15px;
            }
        }
    }
}

.content-order {
    margin-top: 141+24px;
    margin-left: 30px;
    .card-order {
        width: 460px;
        height: 140px;
        padding: 30px 30px 14px 30px;
        background: #FFFFFF;
        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        .rounded-circle {
            height: 80px;
        }
        h2 {
            width: 300px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
        }
        p {
            width: 300px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
        }
        .star {
            padding-left: 0px;
        }
    }
}

i {
    margin-right: 15px;
}

.pending {
    padding-top: 24px;
}

.paid {
    padding-top: 70px;
}

.finish {
    padding-top: 70px;
    margin-bottom: 100px;
}

.h1-content {
    padding-bottom: 24px;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
}

.info {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
}

.btn-card {
    background: #FE993B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 10px 10px;
    width: 460px;
    height: 56px;
    display: inline-block;
    text-align: center;
}

.btn-card:hover {
    background: #D0853F;
}

.join-card {
    margin-top: -8px;
    p {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        color: #ffffff;
    }
}

.content-hasil {
    margin-top: 141+24px;
    margin-left: 30px;
    margin-right: 30px;
    .card-hasil {
        border: 2px solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 30px;
    }
    h3 {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
    }
    p {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
    }
}

.btn-download {
    width: 200px;
    height: 54px;
    background: #FE993B;
    border-radius: 20px;
    p {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        color: #ffffff;
    }
}

.btn-download:hover {
    background: #D0853F;
}